<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<section class="tabcontent" id="Tienda">
    <h2 class="titulo_sec center" name="titulo_h2">Tienda de Peliculas</h2>
        <div class="row">
            
            <%- include('includes/movie_card.ejs') %>

            <%- include('includes/cart.ejs') %>
        </div>
    
</section>
<%- include('includes/footer.ejs') %>